# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ---------------------------
# Virtual Environment
# ---------------------------
venv/
.env/
.env

# ---------------------------
# Dataset (Large Files)
# ---------------------------
dataset/
*.csv
*.xlsx
*.json

# ---------------------------
# ML Model Files (if large)
# ---------------------------
*.h5
*.pkl
*.joblib
*.pt
*.pth
models/

# ---------------------------
# Logs
# ---------------------------
*.log

# ---------------------------
# OS Files
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# IDE Files
# ---------------------------
.vscode/
.idea/